* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(240, 199, 64),
    rgb(230, 220, 169)
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .top_img {
    width: 20%;
    margin-bottom: 20px;
  }
  .card {
    position: relative;
    width: 350px;
    height: 550px;
    background-color: rgb(245, 138, 40);
    border-radius: 20px;

    .ribbon {
      background-color: rgb(84, 195, 223);
      clip-path: polygon(0 20%, 100% 60%, 100% 80%, 0 40%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .box {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px repeat(4, 1fr);
      gap: 20px;
      padding: 20px;

      .title {
        color: white;
        grid-column: 1 / span 2;
      }
    }
  }
}

.langs {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Zilla Slab', serif;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: large;
  z-index: 10;
  background-color: white;
  border-radius: 20px;
  transition: all 0.5s ease;
  font-weight: bold;

  .back {
    list-style-position: inside;
    font-size: 12px;
    line-height: 15px;
  }
  &.flip {
    padding: 12px;
    align-items: left;
    text-align: left;
  }
  &.hover {
    -webkit-box-shadow: 0px 0px 21px 1px rgba(39, 36, 143, 1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(39, 36, 143, 1);
    box-shadow: 0px 0px 21px 1px rgba(39, 36, 143, 1);
    transition: all 0.5s ease;
    .logo {
      width: 30%;
      transition: all 0.5s ease;
    }
  }

  .logo {
    position: absolute;
    top: 10px;
    width: 25%;
    display: block;
    transition: all 0.5s ease;
  }

  .desc {
    position: absolute;
    bottom: 10px;
  }
}
